.App {
  font-family: sans-serif;
  text-align: center;
}

.button {
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #000000;
  color: #ffffff;
  background-color: #000000;
  border-radius: 4px;
  cursor: pointer;
}

.buttonSecondary {
  background-color: transparent;
  color: #000000;
}

.button:disabled {
  border-color: #ccc;
  color: #a3a3a3;
  background-color: #ededed;
  cursor: not-allowed;
}
